.ani span:nth-child(1) { animation: fade-in 0.8s 0.07s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(2) { animation: fade-in 0.8s 0.14s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(3) { animation: fade-in 0.8s 0.21s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(4) { animation: fade-in 0.8s 0.28s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(5) { animation: fade-in 0.8s 0.35s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(6) { animation: fade-in 0.8s 0.42s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(7) { animation: fade-in 0.8s 0.49s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(8) { animation: fade-in 0.8s 0.56s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(9) { animation: fade-in 0.8s 0.63s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(10) { animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(11) { animation: fade-in 0.8s 0.77s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(12) { animation: fade-in 0.8s 0.84s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(13) { animation: fade-in 0.8s 0.91s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(14) { animation: fade-in 0.8s 0.98s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(15) { animation: fade-in 0.8s 1.05s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(16) { animation: fade-in 0.8s 1.12s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(17) { animation: fade-in 0.8s 1.19s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(18) { animation: fade-in 0.8s 1.26s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(19) { animation: fade-in 0.8s 1.33s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(20) { animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(21) { animation: fade-in 0.8s 1.47s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(22) { animation: fade-in 0.8s 1.54s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(23) { animation: fade-in 0.8s 1.61s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(24) { animation: fade-in 0.8s 1.68s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(25) { animation: fade-in 0.8s 1.75s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(26) { animation: fade-in 0.8s 1.82s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(27) { animation: fade-in 0.8s 1.89s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(28) { animation: fade-in 0.8s 1.96s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(29) { animation: fade-in 0.8s 2.03s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(30) { animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(31) { animation: fade-in 0.8s 2.17s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(32) { animation: fade-in 0.8s 2.24s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(33) { animation: fade-in 0.8s 2.31s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(34) { animation: fade-in 0.8s 2.38s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(35) { animation: fade-in 0.8s 2.45s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(36) { animation: fade-in 0.8s 2.52s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(37) { animation: fade-in 0.8s 2.59s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(38) { animation: fade-in 0.8s 2.66s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(39) { animation: fade-in 0.8s 2.73s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(40) { animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(41) { animation: fade-in 0.8s 2.87s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(42) { animation: fade-in 0.8s 2.94s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(43) { animation: fade-in 0.8s 3.01s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(44) { animation: fade-in 0.8s 3.08s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(45) { animation: fade-in 0.8s 3.15s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(46) { animation: fade-in 0.8s 3.22s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(47) { animation: fade-in 0.8s 3.29s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(48) { animation: fade-in 0.8s 3.36s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(49) { animation: fade-in 0.8s 3.43s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(50) { animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(51) { animation: fade-in 0.8s 3.57s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(52) { animation: fade-in 0.8s 3.64s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(53) { animation: fade-in 0.8s 3.71s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(54) { animation: fade-in 0.8s 3.78s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(55) { animation: fade-in 0.8s 3.85s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(56) { animation: fade-in 0.8s 3.92s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(57) { animation: fade-in 0.8s 3.99s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(58) { animation: fade-in 0.8s 4.06s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(59) { animation: fade-in 0.8s 4.13s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(60) { animation: fade-in 0.8s 4.2s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(61) { animation: fade-in 0.8s 4.27s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(62) { animation: fade-in 0.8s 4.34s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(63) { animation: fade-in 0.8s 4.41s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(64) { animation: fade-in 0.8s 4.48s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(65) { animation: fade-in 0.8s 4.55s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(66) { animation: fade-in 0.8s 4.62s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(67) { animation: fade-in 0.8s 4.69s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(68) { animation: fade-in 0.8s 4.76s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(69) { animation: fade-in 0.8s 4.83s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(70) { animation: fade-in 0.8s 4.9s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(71) { animation: fade-in 0.8s 4.97s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(72) { animation: fade-in 0.8s 5.04s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(73) { animation: fade-in 0.8s 5.11s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(74) { animation: fade-in 0.8s 5.18s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(75) { animation: fade-in 0.8s 5.25s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(76) { animation: fade-in 0.8s 5.32s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(77) { animation: fade-in 0.8s 5.39s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(78) { animation: fade-in 0.8s 5.46s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(79) { animation: fade-in 0.8s 5.53s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(80) { animation: fade-in 0.8s 5.6s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(81) { animation: fade-in 0.8s 5.67s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(82) { animation: fade-in 0.8s 5.74s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(83) { animation: fade-in 0.8s 5.81s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(84) { animation: fade-in 0.8s 5.88s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(85) { animation: fade-in 0.8s 5.95s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(86) { animation: fade-in 0.8s 6.02s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(87) { animation: fade-in 0.8s 6.09s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(88) { animation: fade-in 0.8s 6.16s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(89) { animation: fade-in 0.8s 6.23s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(90) { animation: fade-in 0.8s 6.3s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(91) { animation: fade-in 0.8s 6.37s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(92) { animation: fade-in 0.8s 6.44s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(93) { animation: fade-in 0.8s 6.51s forwards cubic-bezier(0.11, 0, 0.5, 0); }
.ani span:nth-child(94) { animation: fade-in 0.8s 6.58s forwards cubic-bezier(0.11, 0, 0.5, 0); }
